.contact-section {
    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        input,
        textarea {
            width: 100%;
            padding: 0.75rem 0.9rem;
            border: 1px solid rgb(180, 180, 180);
            border-radius: 4px;
            font-size: 1rem;
            background: lighten($light-color, 4%);
            font-family: $font-main;
            &:focus {
                outline: none;
                border-color: $secondary-color;
            }
        }
        textarea {
        resize: none;
        }
        .btn {
            border: none;
        }
        label {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-bottom: 22px;

            span {        
                position: absolute;
                left: 0;
                bottom: 1px;
                font-size: .9rem;
                color: #d94141;
                visibility: hidden;
                text-shadow: none;
            }
            &.error span {
            visibility: visible;
            }
        }
        label.error > input,
        label.error > textarea {
            border-color: #d94141;
        }

        button[disabled] {
            opacity: .6;
            cursor: not-allowed;
        }
    }
}