.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.form-box {
    background-color: $light-color;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    max-width: 500px;
    width: 100%;
    font-family: $font-main;

    h2 {
        font-size: 1.8rem;
        color: $secondary-color;
        margin-bottom: 3rem;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .form-field {
            font-family: $font-main;
            font-size: 1rem;
            padding: 0.7rem 1rem;
            border: 1px solid $main-color;
            border-radius: 5px;
            background-color: lighten($main-color, 6%);
            transition: border 0.2s;
            color: $secondary-color;

            &:focus {
                outline: none;
                border-color: $dark-color;
            }
        }

        textarea.form-field {
            resize: vertical;
            min-height: 100px;

        }

        .form-error {
            color: red;
            font-size: 0.9rem;
            margin-top: -0.5rem;
        }

        button {
            border: none;
            width: 50%;
            align-self: center;
        }

    }
}