.header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 2rem 0;
    background-color: $secondary-color-darken;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

    img {
        position: absolute;
        z-index: 999;
        left: 7rem;
        bottom: -3.5rem;
        border-radius: 50%;
        width: 8rem;
    }

    #main-nav {
        .menu {
            display: flex;
            list-style: none;
            gap: 5rem;

            .menu-item {
                .nav-link {
                    color: $accent-color;
                    text-decoration: none;
                    font-size: 1rem;
                    font-family: $font-heading;
                    font-weight: 500;
                    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
                    position: relative;
                    text-transform: uppercase;

                    display: inline-block;
                    transition: all 0.3s ease;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -.35rem;
                        width: 0;
                        height: 2px;
                        background: $light-color;
                        transition: width .3s;
                    }

                    &:hover,
                    &:focus-visible {
                        color: $light-color;
                        transform: scale(1.05);

                        &::after {
                            width: 100%;
                        }
                    }

                    &.active {
                        color: $light-color;

                        &::after {
                            width: 100%;
                        }
                    }

                    &:active {
                        transform: scale(0.97);
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}