.header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 2rem 0;
    background-color: $dark_brown;
    img {
        position: absolute;
        left: 5rem;
        bottom: -3rem;
        border-radius: 50%;
        width: 9rem;
    }
    #main-nav {
        .menu {
            display: flex;
            list-style: none;
            gap: 5rem;
            .menu-item {
                .nav-link {
                    color: $light_brown;
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-family: $font-heading;
                    font-weight: 500;
                    &.active {
                    }
                    &:hover {
                    }
                }
            }
        }
    }
}