.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    /* wystarczająco miejsca na spinnera w sekcji */
}

.spinner {
    width: 80px;
    height: 80px;
    border: 6px solid #ccc;
    border-top: 6px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}