.map-wrapper {
    position: relative;
    width: 60%;
    max-width: 60%;
    height: 500px;

    .map-container {
        width: 100%;
        height: 100%;
        z-index: 1;

        .leaflet-control-zoom {
            border: none;
            border-radius: 8px;
            overflow: hidden;
            background-color: $dark-color;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $light-color;
                font-size: 1.2rem;
                padding: 0.5rem 0.8rem;
                background-color: $dark-color;
                transition: background-color 0.3s ease;
                border-bottom: 1px solid $light-color;

                &:hover {
                    background-color: $accent-color;
                    color: $dark-color;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .reset-button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: 999;
            background-color: $dark-color;
            color: $light-color;
            border: none;
            border-radius: 8px;
            padding: 0.4rem 0.6rem;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: $accent-color;
                color: $dark-color;
            }
        }

        .leaflet-popup-content-wrapper {
            background: $secondary-color;
            color: $light-color;
            font-family: $font-main;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            padding: 0.5rem 0.7rem;
        }

        .leaflet-popup-tip {
            background: $secondary-color;
        }

        .leaflet-popup-content {
            margin: 0;
            margin-right: 0.8rem;
            font-size: 0.8rem;
            line-height: 1.4;

            br {
                display: block;
                margin-bottom: 0.3rem;
            }
        }

        .leaflet-popup-close-button {
            color: $light-color;
            font-size: 1rem;

            &:hover {
                color: $accent-color;
            }
        }
    }

    .map-loader {
        background-color: $dark-color;
        padding: 0.4rem;
        border-radius: 8px;
        z-index: 1000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        color: $light-color;
        display: flex;
        align-items: center;
        gap: 0.5em;

        .spinner {
            width: 24px;
            height: 24px;
            border: 3px solid #ccc;
            border-top: 3px solid $light-color;
            border-radius: 50%;
            animation: spin 0.8s linear infinite;
        }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .custom-cluster {
        background: $dark-color; // główny kolor
        color: $light-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.3s, color 0.3s;

        &.small {
            width: 30px;
            height: 30px;
            font-size: 14px;
        }

        &.medium {
            width: 40px;
            height: 40px;
            font-size: 16px;
        }

        &.large {
            width: 50px;
            height: 50px;
            font-size: 18px;
        }
        &:hover {
            background-color: $accent-color;
            color: $dark-color;
        }
    }
}
