.map {
    .map-tile {
        display: flex;
        background-color: $secondary-color-darken;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        p {
            width: 40%;
            padding: 3rem;
            font-size: 1.3rem;
            font-style: italic;
            align-content: center;
            line-height: 3rem;
        }
    }
}
.all-breadings {
    .all-breadings-h {
        font-size: 2.7vw;
    }
}