.hero {
  display: flex;
  gap: 10%;
  background-color: $secondary-color;

  .hero-left {
    width: auto;

    h1 {
      font-size: 3rem;
      line-height: 4rem;
      word-spacing: 0.5rem;
      margin-bottom: 1rem;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      color: $light-color;
    }

    p {
      font-size: 1.2rem;
      color: $light-color;
      line-height: 2rem;
    }

    .buttons {
      display: flex;
      gap: 1rem;
      margin-top: 1.5rem;
    }
  }

  img {
    width: 40%;
    height: fit-content;
    align-self: center;
  }
}

.breedings-container {
  background-color: $secondary-color;
  h2 {
    font-size: 2.7vw;
    color: $light-color;
    &::after {
      background-color: $light-color;
    }
  }
}