.hero {
  display: flex;
  gap: 10%;
  margin-bottom: 3rem;
  .hero-left {
    width: auto;
    h1 {
        font-size: 3rem;
        line-height: 4rem;
        word-spacing: 0.5rem;
        margin-bottom: 1rem;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    }
    p {
        font-size: 1.2rem;
        color: $brown-700;
        line-height: 2rem;
    }
    .buttons {
      display: flex;
      gap: 1rem;
      margin-top: 1.5rem;
    }

    animation: fadeIn 0.8s ease-in-out;
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  img {
      width: 40%;
      height: fit-content;
      align-self: center;
  }
}



.news-container {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .news {
    display: flex;
  }
}