.news-page {
    .news-container {
        h1 {
            font-size: 2.7vw;
            margin: 0.3rem 0;
        }
        .news-date {
            margin-bottom: 1.2rem;
        }
        .news-details {
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 2rem;

            @media (max-width:900px){
                grid-template-columns:1fr;
            }

            .news-content {
                line-height:1.45;
                text-align:justify;
                p,ul,ol{margin-bottom:1rem;}
                img,iframe{max-width:100%;height:auto;}
            }
            .news-gallery {
                img{
                    box-shadow:0 2px 6px rgba(0,0,0,.20);
                    transition:transform .25s, box-shadow .25s;

                    &:hover{
                        transform:scale(1.05);
                        box-shadow:0 4px 14px rgba(0,0,0,.25);
                        cursor:pointer;
                    }
                }
            }
        }
    }
}