
// ==== KOLORY ====
$brown-900: #72472b;
$brown-700: #8b5e3d;
$brown-300: #e4c9a0;
$brown-100: #fff9ef;

// ==== CZCIONKI ====
$font-main: 'Open-sans', sans-serif;
$font-heading: 'Oswald', sans-serif;