// ==== KOLORY ====
$brown-700: #72472b;
$brown-900: darken($brown-700, 3%);
$brown-300: #e4c9a0;
$brown-100: #ffe6ba;
$brown-100-lighten: lighten($brown-100, 2%);

$main-color: #f8d5a8;
$secondary-color: #136862;
$secondary-color-darken: darken($secondary-color, 2%);
$secondary-color-lighten: lighten($secondary-color, 10%);
$accent-color: #D9EEE6;
$dark-color: #2B332F;
$light-color: #f5e5d2;

// ==== CZCIONKI ====
$font-main: 'Open-sans', sans-serif;
$font-heading: 'Playfair-Display', serif;