// ==== KOLORY ====
$main-color: #f8d5a8;
$secondary-color: #136862;
$secondary-color-darken: #105752;
$secondary-color-lighten: lighten($secondary-color, 10%);
$accent-color: #D9EEE6;
$dark-color: #2B332F;
$light-color: #f5e5d2;

// ==== CZCIONKI ====
$font-main: 'Open-sans', sans-serif;
$font-heading: 'Playfair-Display', serif;