@import "./variables.scss";
@import "./components/footer";
@import "./components/header";
@import "./pages/home_page";
@import "./components/button";
@import "./components/news/news_item";
@import "./components/news/news_section";
@import "./components/news/pagination";
@import "./components/form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $brown-100;
  color: $brown-700;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  font-family: $font-heading;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: $brown-900;
}

.page {
  min-height: 100vh;
  padding-bottom: 3rem;

  .content {
    padding-top: 6rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}