@import "./variables.scss";
@import "./components/footer";
@import "./components/header";
@import "./pages/home_page";
@import "./components/button";
@import "./components/news/news_item";
@import "./components/news/news_section";
@import "./components/news/pagination";
@import "./components/form";
@import "./pages/not_found";
@import "./pages/admin/admin_page";
@import "./pages/admin/admin_breeding_page";
@import "./pages/files_page";
@import "./components/tile";
@import "./components/banner";
@import "./components/breedings/breeding_carousel";
@import "./components/breedings/breeding_item";
@import "./animations";
@import "./components/breedings/breeding_map";
@import "./pages/breeding_page";
@import "./components/breedings/all_breadings_section";
@import "./components/breedings/breeding_tile";
@import "./pages/contact_page";
@import "./components/contact_form";
@import "./components/spinner";
@import "./components/back_button";
@import "./components/custom_alert";
@import "./pages/knowledge_page";
@import "./components/guides/guide-details.scss";
@import "./components/breedings/modal_contact";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import 'leaflet/dist/leaflet.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  font-family: $font-heading;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
}

.with-line {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 120%;
    height: 3px;
    border-radius: 2px;
  }
}

.page {
  background-color: $main-color;
  min-height: 65vh;

  section {
    padding: 6rem;
  }

  .dark-section {
    background-color: $secondary-color;
    ;
    color: $light-color;

    .with-line {
      &::after {
        background-color: $light-color;
      }
    }
  }

  .light-section {
    background-color: $main-color;

    h1,
    h2,
    h3 {
      color: $secondary-color-darken;
    }

    color: $secondary-color;

    .with-line {
      &::after {
        background-color: $secondary-color;
      }
    }
  }
}